// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon
.fa {
  font-family: "FontAwesome";
}

// Elements
Button {
  background-color: $background-blue;
  border: none;
  border-radius: 20px;
  margin: 10 0;
}

// Page-specific style
.auth-page {
  background-color: $background-blue;
  color: #ffffff;

  StackLayout {
    margin: 0 30;
  }

  ActionBar {
    background-color: transparent;
    color: #ffffff;
  }

  Button {
    background-color: #ffffff;
    color: $primary;
  }

  TextField {
    color: #ffffff;
    placeholder-color: #ffffff;
    border-color: #ffffff;
  }
}
