// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon
.fa {
  font-family: "FontAwesome";
}

// Elements
Button {
  background-color: $background-blue;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  margin: 10 0;
}

ActionBar {
  background-color: #ffffff;
}

StackLayout.layout {
  padding: 0 30;
}

Switch.positive {
  color: #4caf50;
  background-color: #bbbbbb;
  off-background-color: #bbbbbb;
}

// Page-specific style
.auth-page {
  background-color: $background-blue;
  color: #ffffff;

  ActionBar {
    background-color: transparent;
    color: #ffffff;
  }

  Button {
    background-color: $background-light;
    color: $primary;
  }

  TextField, MaskedTextField {
    color: #ffffff;
    placeholder-color: #ffffff;
    border-bottom-width: 1;
    border-color: #ffffff;
  }
}

// Helpers
.text-center {
  text-align: center;
}
